<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= form_with(model: [ @category, @product ]) do |form| %>
<% if @category.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  	<%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          
        </tr>
      </thead>
      <tbody>
        <% @category.products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= link_to "Destroy", category_product_path(@category, product), method: :delete, class:'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>